.wrapper{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;

}


/* HEADER */
.logo-mobile{
    width: 50px;
}
.logo-dekstop{
    height: 50px;
}
.input-group{
    background-color: white;
}
.input-group-text,
.form-control{
    background-color: rgb(201, 201, 201);
    border: 0;
    border-radius: 10px;
}
.fa-bell{
    color: goldenrod;
}

/* main content */
.side-bar{
    height: calc(100vh);
    background-color: rgb(114, 114, 227);
    width: 50px;
    height: calc(100vh);
}
.main_content{
    width: 100%;
}
.main_header .row{
    background-color: cadetblue;

}





@media screen and (min-width:992px) {
    .side-bar{
        width: 150px;
    }
    
}




