body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
}

/* HEADER */
.logo-mobile{
    width: 50px;
}
.logo-dekstop{
    height: 50px;
}
.input-group{
    background-color: white;
}
.input-group-text,
.form-control{
    background-color: rgb(201, 201, 201);
    border: 0;
    border-radius: 10px;
}
.fa-bell{
    color: goldenrod;
}

/* MAIN CONTENT */
/* sidebar */
.side-bar{
    height: calc(100vh);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    background-position-y: -50%;
    width: 75px;
    color: white;
}

/* main header */
.main_content{
    width: 100%;
}
.main_header>.row{
    background-color: #1B72E8;
    color: white;
}
.btn-primary{
    background-color: transparent;
    border-color: white;
    font-size: 1rem;
}
.btn-primary:hover{
    background-color: white;
    color: #1B72E8;
}
.tag-btn{
    background-color: #1453ab;
    border-radius: 50px;
    padding: 5px;
    font-size: 0.6rem;
    margin: 0 2px;
}
.sect-title{
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0 0;
    padding: 10px 5px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* table */
.list-group,
.card,
.table{
    border-radius: 0 0 10px 10px;
}
.table img{
    width: 25px;
}
td>.btn{
    font-size: 0.5rem;
    color: white;
}
td>i{
    border: solid 1px black;
    border-radius: 3px;
}
tr :not(:first-child){
    text-align: center;
}

/* card */
.card-body,
.list-group li{
    font-size: 0.8rem;
}
.card-body a{
    text-decoration: underline;
    color: #1B72E8;
}

/* !MEDIA QUERY */
@media screen and (min-width:992px) {
    .side-bar{
        width: 150px;
    }    
}

/* !HOVER */

tr:hover{
    background-color: aliceblue;
}
td i:hover{
    background-color: black;
    color: white;
}
td .btn:hover{
    color: white;
}
.tag-btn:hover{
    background-color: #5085cf;
}
.navbar-icons i:hover{
    filter: saturate(200);
}
#basic-addon1:hover{
    font-size: 1.2rem;
}
.side-bar span:hover{
    background-color: aliceblue;
    color: black;
}


